<template>
  <div class="w-1/2 mx-auto pt-32" @keyup.enter="onSearchValue">
    <img
      class="w-64 mx-auto mb-16"
      src="../assets/images/logo-marvel.png"
      alt=""
    />
    <div class="question">Quel héros cherchez-vous ?</div>
    <div class="flex">
      <input
        class="shadow appearance-none border rounded w-full h-16 py-2 px-3 text-gray-700 text-2xl leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Rechercher un personnage"
        type="text"
        v-model="searchValue"
        @keyup.enter="onSearchValue"
      />
      <select
        name="dataTypeDropdown"
        id="dataTypeDropdown"
        v-model="selectValue"
        class="shadow border appearance-none rounded ml-3 h-16 py-2 px-3 text-gray-700 text-2xl leading-tight focus:outline-none focus:shadow-outline"
      >
        <option value="Characters">Personnages <span>▾</span></option>
        <option value="Comics">Comics</option>
      </select>
      <span>▾</span>
    </div>
    <p class="text-white text-lg mt-5">
      Appuyez sur Entrer pour lancer la recherche
    </p>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      searchValue: null,
      selectValue: "Characters",
      characters: []
    };
  },
  methods: {
    onSearchValue() {
      this.$router.push({
        name: this.selectValue + "List",
        params: { searchValue: this.searchValue }
      });
    }
  },
  created() {
    document.title = this.$route.meta.title;
  }
};
</script>

<style>
.question {
  font-size: 3em;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.76px;
  margin-bottom: 32px;
  text-align: center;
  color: #f9f9f9;
}
select > option {
  background-color: blue;
}
</style>
