<template>
  <div class="pt-10 pb-10">
    <button
      @click="$router.go(-1)"
      class="float-left mt-1 ml-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      ⬅ Retour
    </button>

    <div v-if="character" class="bg-current w-2/3 mx-auto p-10 rounded-3xl">
      <h1 class="text-2xl text-white font-bold">{{ character.name }}</h1>
      <img
        class="object-cover w-40 mx-auto mt-5"
        style="border-radius: 100%"
        :src="character.thumbnail.path + '/standard_fantastic.jpg'"
        alt="thumbnail"
      />
      <p v-if="character.description !== ' '" class="mt-10 text-white">
        {{ character.description }}
      </p>
    </div>
    <div v-if="comics" class="flex flex-wrap justify-evenly w-2/3 mx-auto">
      <div v-for="comic in pageOfItems" :key="comic.id" class="card w-32">
        <router-link :to="{ name: 'Comic', params: { id: comic.id } }">
          <img
            class="w-40 h-48 mx-auto mt-5"
            :src="comic.thumbnail.path + '.jpg'"
            alt="thumbnail"
          />
        </router-link>
      </div>
    </div>
    <div class="card-footer mt-10">
      <jw-pagination
        :items="comics"
        @changePage="onChangePage"
        :pageSize="12"
        :labels="customLabels"
        :disableDefaultStyles="true"
      ></jw-pagination>
    </div>
    <Loader v-if="loader" />
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader";
import Vue from "vue";
import JwPagination from "jw-vue-pagination";

Vue.component("jw-pagination", JwPagination);

const customLabels = {
  first: "Premier",
  last: "Dernier",
  previous: "Préc.",
  next: "Suiv."
};

export default {
  name: "Character",
  props: ["name"],
  components: {
    Loader
  },
  data() {
    return {
      character: null,
      comics: [],
      loader: true,
      pageOfItems: [],
      customLabels
    };
  },
  beforeMount() {
    let ts = Math.round(Math.random() * 100);
    axios
      .get(
        `https://gateway.marvel.com:443/v1/public/characters?name=${this.name}&ts=${ts}&apikey=${process.env.VUE_APP_PUBLIC_KEY}`
      )
      .then(result => {
        this.character = result.data.data.results[0];
        document.title = this.character.name;

        axios
          .get(
            `https://gateway.marvel.com:443/v1/public/characters/${this.character.id}/comics?limit=100&ts=${ts}&apikey=${process.env.VUE_APP_PUBLIC_KEY}`
          )
          .then(result => {
            let comics = result.data.data.results;
            comics.forEach(comic => {
              this.comics.push(comic);
            });
            this.loader = false;
          })
          .catch(error => {
            console.log(error);
          });
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    }
  }
};
</script>

<style>
.pagination {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

li {
  list-style: none;
  display: inline;
  text-align: center;
}

a {
  cursor: pointer;
  display: block;
  float: left;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #4399e1;
  border-color: #4399e1;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/*.card {*/
/*  margin-top: 2em;*/
/*  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);*/
/*  cursor: pointer;*/
/*  width: 22rem;*/
/*  border-radius: 20px;*/
/*  background-color: currentColor;*/
/*}*/
</style>
