<template>
  <router-link :to="{ path: '/character/' + character.name }">
    <div class="card py-8 rounded-md h-64">
      <b class="text-white">{{ character.name }}</b>
      <img
        class="object-contain w-40 mx-auto mt-3"
        style="border-radius: 100%;"
        :src="character.thumbnail.path + '/standard_fantastic.jpg'"
        alt="thumbnail"
      />
    </div>
  </router-link>
</template>

<script>
export default {
  name: "CharacterItem",
  props: ["character"]
};
</script>

<style scoped>
.card {
  margin-top: 2em;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 22rem;
  border-radius: 20px;
  background-color: currentColor;
}
</style>
