<template>
  <div class="pt-10 pb-10">
    <button
      @click="$router.go(-1)"
      class="float-left mt-1 ml-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      ⬅ Retour
    </button>
    <div v-if="comic" class="bg-gray-300 w-2/3 mx-auto rounded-3xl">
      <div class="bg-current p-5 rounded-t-3xl">
        <h1 class="text-2xl text-white font-bold">{{ comic.title }}</h1>
        <p class="mt-5 text-white">
          <b>Date de parution : </b>
          <span class="capitalize">{{
            comic.dates[0].date | moment("dddd Do MMMM YYYY")
          }}</span>
        </p>
        <p class="mt-3 text-white">
          <b>Prix :</b> {{ comic.prices[0].price }} $
        </p>
      </div>
      <div class="p-10 flex">
        <img
          class="object-contain w-40 h-auto mx-auto"
          :src="comic.thumbnail.path + '.jpg'"
          alt="thumbnail"
        />
        <div>
          <h3 v-if="comic.description" class="text-left ml-10 text-xl">
            <b>Description :</b>
          </h3>
          <p v-if="comic.description" class="mt-8 ml-10 text-left">
            {{ comic.description }}
          </p>
        </div>
      </div>
    </div>
    <div
      v-if="characters.length"
      class="bg-gray-200 w-2/3 mx-auto mt-10 rounded-3xl"
    >
      <h3 class="text-2xl pt-8"><b>Personnages</b></h3>
      <div v-if="characters" class="flex flex-wrap justify-center mb-4">
        <div
          v-for="character in characters"
          :key="character.id"
          class="p-4 pb-10 rounded-md"
        >
          <router-link
            :to="{ name: 'Character', params: { name: character.name } }"
          >
            <img
              class="object-contain w-40 mx-auto mt-3"
              style="border-radius: 100%;"
              :src="character.thumbnail.path + '/standard_fantastic.jpg'"
              alt="thumbnail"
              :title="character.name"
            />
          </router-link>
        </div>
      </div>
    </div>
    <Loader v-if="loader" />
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader";

export default {
  name: "Comic",
  props: ["id"],
  components: {
    Loader
  },
  data() {
    return {
      comic: null,
      characters: [],
      loader: true
    };
  },
  beforeMount() {
    let ts = Math.round(Math.random() * 100);
    axios
      .get(
        `https://gateway.marvel.com:443/v1/public/comics/${this.id}?ts=${ts}&apikey=${process.env.VUE_APP_PUBLIC_KEY}`
      )
      .then(result => {
        this.comic = result.data.data.results[0];

        axios
          .get(
            `https://gateway.marvel.com:443/v1/public/comics/${this.id}/characters?ts=${ts}&apikey=${process.env.VUE_APP_PUBLIC_KEY}`
          )
          .then(result => {
            let characters = result.data.data.results;
            characters.forEach(character => {
              this.characters.push(character);
            });
            this.loader = false;
          })
          .catch(error => {
            console.log(error);
          });

        this.loader = false;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>
