<template>
  <router-link :to="{ name: 'Comic', params: { id: comic.id } }">
    <div class="card py-8 rounded-md h-64">
      <b class="text-white">{{ comic.title }}</b>
      <img
        class="object-contain w-40 mx-auto mt-3"
        style="border-radius: 100%;"
        :src="comic.thumbnail.path + '/standard_fantastic.jpg'"
        alt="thumbnail"
        :title="comic.title"
      />
    </div>
  </router-link>
</template>

<script>
export default {
  name: "ComicItem",
  props: ["comic"]
};
</script>

<style scoped>
.card {
  margin-top: 2em;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 22rem;
  border-radius: 20px;
  background-color: currentColor;
}
</style>
