<template>
  <div class="pt-16 pb-16">
    <button
      @click="$router.go(-1)"
      class="float-left mt-1 ml-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      ⬅ Retour
    </button>
    <h1 class="text-4xl text-white mb-3">
      <b>Résultats de la recherche :</b> {{ searchValue }}
    </h1>
    <div class="flex flex-wrap justify-evenly">
      <div v-for="comic in pageOfItems" :key="comic.id">
        <comic-item v-bind:comic="comic" />
      </div>
    </div>
    <div class="card-footer mt-10">
      <jw-pagination
        :items="comics"
        @changePage="onChangePage"
        :pageSize="6"
        :labels="customLabels"
        :disableDefaultStyles="true"
      ></jw-pagination>
    </div>
    <h1
      v-if="!comics.length && loader === false"
      class="bg-gray-200 p-10 w-1/2 mx-auto mt-20 rounded-3xl text-2xl"
    >
      <b>Aucun résultat</b>
    </h1>
    <Loader v-if="loader" />
  </div>
</template>

<script>
import axios from "axios";
import ComicItem from "@/components/ComicItem";
import Loader from "@/components/Loader";
import Vue from "vue";
import JwPagination from "jw-vue-pagination";

Vue.component("jw-pagination", JwPagination);

const customLabels = {
  first: "Premier",
  last: "Dernier",
  previous: "Préc.",
  next: "Suiv."
};

export default {
  name: "ComicsList",
  components: {
    ComicItem,
    Loader
  },
  props: ["searchValue"],
  data() {
    return {
      comic: null,
      comics: [],
      loader: true,
      pageOfItems: [],
      customLabels
    };
  },
  beforeMount() {
    let ts = Math.round(Math.random() * 100);
    axios
      .get(
        `https://gateway.marvel.com:443/v1/public/comics?titleStartsWith=${this.searchValue}&limit=100&ts=${ts}&apikey=${process.env.VUE_APP_PUBLIC_KEY}`
      )
      .then(result => {
        result.data.data.results.forEach(result => {
          this.comics.push(result);
        });
        this.loader = false;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    }
  }
};
</script>

<style></style>
